.boolean-select-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    >span {
        font-size: 1rem;
        color: #333;
        margin-bottom: 0.45rem;
        font-weight: 500;
        width: 230px;
    }

    >.boolean-select {

        padding: 3px;
        border-radius: 8px;
        background-color: #f9fafb;

        display: flex;
        flex-direction: row;
        gap: 4px;

        >div {

            border-radius: 5px;
            line-height: 1;
            font-size: 1rem;
            font-weight: 400;

            cursor: pointer;

            padding: 12px 18px;

            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &.is-selected {
                color: white;

                &.true {
                    background-color: var(--blue);
                }

                &.false {
                    background-color: var(--foreground-light);
                }
            }

            &:not(.is-selected) {
                background-color: #f9fafb;
                color: #aaa;

                &:hover {
                    background-color: rgb(229, 232, 236);
                }
            }

            &.false {}

            &.true {}
        }
    }
}