.admin-page__section {

    background-color: white;
    border: 1px solid var(--light);
    margin-bottom: 30px;
    border-radius: 6px;

    >.admin--page__section__title {

        padding: 40px var(--admin-page-section-padding);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1;

        border-bottom: 1px solid var(--light);
    }

    >.admin--page__section__content-wrap {

        overflow: hidden;

        >.children-wrap {

            padding: 40px var(--admin-page-section-padding);

            &.no-padding {
                padding-left: 0;
                padding-right: 0;
            }

        }
    }

    &.is-collapsable {

        overflow: hidden;

        >.admin--page__section__title {

            position: relative;
            cursor: pointer;

            margin-bottom: -1px;

            &::after {
                content: "";
                position: absolute;
                right: var(--admin-page-section-padding);
                width: 1rem;
                height: 1rem;
                border: 2px solid var(--foreground-blur);
                border-top: none;
                border-left: none;

                transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            &::after {
                top: 50%;
                transform: translateY(-70%) rotate(45deg);
            }

            &.is-collapsed {
                ::after {
                    transform: translateY(-30%) rotate(-135deg);
                }
            }
        }

    }

    &.is-transparent {
        background-color: transparent;
        border: 0;

        >.admin--page__section__title {
            padding: 10px 0 30px;
            border-bottom: 0;
        }

        >.admin--page__section__content-wrap {
            >.children-wrap {

                padding-top: 0;
            }
        }
    }
}