.radio-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  >.radio__label {
    color: #333;
    width: 230px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
  }

  >.radio-options-wrap {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    >.radio__option {

      min-width: 80px;
      line-height: 1;
      color: #aaa;

      display: flex;
      justify-content: center;
      gap: 6px;
      padding: 0.8rem 1.2rem;

      border-radius: 8px;

      cursor: pointer;

      &:not(.is-selected):hover {
        background-color: var(--background-light);
      }

      &.is-selected {
        color: white;
        background-color: var(--blue);
      }
    }
  }
}