body {

    height: 100%;

    >#root {
        height: 100%;

        >#app {
            height: 100%;
            min-height: 100%;
            display: flex;
            flex-direction: column;

            >.wrap {
                height: 100%;
                min-height: 100vh;
                overflow: hidden;
                display: flex;
                flex-direction: row;

                >.admin-console__sidebar {
                    line-height: 1;
                    color: var(--background);
                    background-color: var(--foreground);

                    overflow-y: auto;

                    display: flex;
                    flex-direction: column;

                    position: sticky;
                    z-index: 100;
                    left: 0;

                    >.admin-console__logo-wrap {
                        border-bottom: 1px solid var(--foreground-hover-dark);
                        padding: 30px 20px;
                        padding-right: 40px;

                        >a {
                            >img {
                                width: 70px;
                            }
                        }
                    }

                    >.admin-console__nav {
                        overflow: auto;
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;

                        >li {
                            word-break: keep-all;
                            white-space: nowrap;
                            cursor: pointer;

                            border-bottom: 1px solid var(--foreground-hover-dark);

                            >div,
                            >a {

                                &.admin-console__nav-item--open {
                                    height: auto;
                                    padding-bottom: 20px;

                                    >.admin-console__nav-sub-list {
                                        height: auto;
                                        overflow: hidden;
                                    }
                                }

                                >h3 {
                                    font-size: 1rem;
                                    font-weight: 400;
                                    padding: 20px;
                                    padding-right: 40px;

                                    &:hover {
                                        background-color: var(--foreground-hover-dark);
                                    }
                                }

                                >.admin-console__nav-sub-list {
                                    height: 0;
                                    overflow: hidden;
                                    white-space: nowrap;

                                    display: flex;
                                    flex-direction: column;

                                    >li {
                                        >a {
                                            font-weight: 400;
                                            color: #bbb;
                                            font-size: 0.9rem;
                                            display: block;
                                            padding: 15px 20px;
                                            padding-right: 40px;

                                            &:hover {
                                                color: var(--foreground-yellow);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                >.content {
                    position: relative;
                    flex: 1;
                    flex-grow: 1;
                    flex-shrink: 0;

                    height: 100%;
                    overflow-y: auto;

                    background-color: #f2f5fa;

                    >div {

                        // background-color: white;

                        margin: 0 auto;
                        max-width: 1440px;
                        min-width: 1200px;
                        padding: 80px;
                        padding-bottom: 120px;

                        min-height: 100%;
                    }
                }
            }
        }
    }
}