.address-form-wrap {
    display: flex;
    margin-bottom: 20px;

    >.address-input-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;

        flex-grow: 1;

        > div > div {
            margin-bottom: 0;
        }

        > .address-input-first-row {
            display: flex;
            gap: 10px;

            > button {
                white-space: nowrap;
                flex-shrink: 0;
            }
        }
    }
    
}

.daum {
    height: 100vh;
}