.wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    width: 100%;
}

.label {
    padding-top: 0.8rem;
    font-size: 1rem;
    line-height: 1;
    color: #333;
    font-weight: 500;
    width: 230px;
}

.errorAligner {
    flex-grow: 1;

}

.inputWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0 0.5rem;
    background-color: #fff;
    transition: all 0.2s ease;
    position: relative;

    &:focus-within:not(.errorWrapper) {
        border-color: var(--blue);
    }

    >.close-button {
        border-radius: 99rem;
        padding: 5px;
        font-size: 0.6rem;
        filter: saturate(0);
        background-color: var(--background-light);
        opacity: 0.7;
        cursor: pointer;

        transition: scale 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            transform: scale(1.1);
        }

        &.is-hidden {
            display: none;
        }
    }
}

.focused {
    border-color: var(--foreground-blur);
}

.errorWrapper {
    border-color: #ef4444;
}

.input {
    line-height: 1;
    flex: 1;
    border: none;
    outline: none;
    padding: 0.8rem 0.4rem;
    color: var(--foreground-hover);
    font-size: 1rem;
    background: transparent;

    &::placeholder {
        color: #ccc;
    }
}

.icon {
    line-height: 1;
    margin: 0 0.4rem;
    display: flex;
    align-items: center;
    color: var(--foreground-light);
}

.max-length {
    font-size: 0.8rem;
    line-height: 1;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    color: #666;
    display: flex;
    align-items: center;
    pointer-events: none;

    >span {
        &.is-zero {
            color: #ccc;
        }
    }
}

.errorMessage {
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-left: 0.2rem;
}