.separator {
    height: 1px;
    background-color: var(--background-shade);
    width: 100%;
    margin: 50px 0;
}

.order-detail-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    >.order-detail-page__header {
        position: sticky;
        top: -45px;

        display: flex;
        align-items: flex-start;
        gap: 1.2rem;

        background-color: rgba(237, 241, 244, 0.7);
        backdrop-filter: blur(10);

        margin: -80px;
        margin-bottom: 30px;
        padding: 70px 80px 25px;

        z-index: 20;

        >.order-detail-page__header__back-button {
            border: 0;
            outline: 0;
            background-color: transparent;

            opacity: 0.3;

            cursor: pointer;

            font-size: 1.4rem;

            transition: opacity 0.1s;

            &:hover {
                opacity: 1;
            }
        }

        >.order-detail-page__header__title-section {
            flex-grow: 1;

            >.order-detail-page__header__title {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1rem;

                margin-bottom: 0.4rem;

                >.order-detail-page__header__title {
                    line-height: 1;
                }

                >.order-detail-page__header__title__tags {
                    display: flex;
                    flex-direction: row;
                    gap: 0.3rem;
                }
            }

            >.order-detail-page__header__title__datetime {
                font-size: 0.85rem;
                font-weight: 400;
            }
        }

        >.order-detail-page__header__buttons {
            display: flex;
            gap: 0.5rem;
        }
    }

    >.order-detail-page__content {
        display: flex;
        gap: 30px;

        >.left,
        >.right {
            >section {
                border-radius: 1rem;
                border: 0;
            }
        }

        >.left {
            flex-grow: 1;
        }

        >.right {

            position: sticky;
            top: 200px;

            width: 450px;
            flex-shrink: 0;
        }
    }
}