
.admin-print-list-page__filter-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;

    > div {
        flex-grow: 1;
        font-size: 1.2rem;
        line-height: 1;
    }
}

.admin-print-list__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}